/*Web type scale*/


/*http://type-scale.com/*/

html {
    font-size: 1em;
}

body {
    background-color: #b7b7b7;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    line-height: 1.45;
    color: #333;
    
}

p {
    margin-bottom: 1.3em;
}

h2,
h4,
h5,
h7
{
    font-family: 'Roboto', sans-serif;
    /*    top:1.41rm right:0 bottom:0 left:0.5*/
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    line-height: 1.45;
    color: #fff;   
    margin-top: 0;
    font-size: 4.1em;
}

h2 {
    font-size: 2.369em;
    padding-top: 75px;
}

h3 {
    font-size: 2.6em;
    font-family: 'Roboto', sans-serif;
    /*    top:1.41rm right:0 bottom:0 left:0.5*/
    margin: 0 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}

h4 {
    font-size: 1.333em;
}

h5 {
    font-size: 2.369em;
    padding-bottom: 80px;
    padding-top: 60px;
}

h6 {
    font-family: 'Poppins', sans-serif;
    /*    top:1.41rm right:0 bottom:0 left:0.5*/
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
    font-size: 1em;
}

h7 {
    font-size: 2.369em;
    padding-top: 75px;
    color: aliceblue;
    padding-bottom: 50px;
}

small,
.font_small {
    font-size: 0.75em;
}

/*view area*/

/* link*/

a {
    color: ghostwhite;
    font-weight: bold;

}

a:hover {
    color: cadetblue;
}

.a2 {
    color: black;
    font-weight: bold;

}

.a2:hover {
    color: cadetblue;
}

/*button style*/


.btn {
    font-size: .8rem;
    letter-spacing: .091em;
    line-height: .8em;
    border-radius: 25px 25px 25px 25px;
/*    top 1.8, right 3.6, bottom 1.8, left 3.8 */
    padding: .8em 1em;
/*    color: #ffff;*/
/*     bg = rgba(0, 0, 255, 0.44);*/
    margin-bottom: 100px
}

.btn:hover {
    color: lightgray;
/*    background-blend-mode: overlay;*/
    opacity: 0.7;
}

.btn-outline-primary {
/*    color: ghostwhite;*/
/*    background-color: lightgray;*/
/*    background-blend-mode: overlay;*/
    background-color: transparent;
    border: 1px ghostwhite solid;
    transition: all .5s;
}

.btn-outline-primary:hover {
    color: white;
    background-color: aliceblue;
}

/*download resume button style*/

.btn-outline-second {
/*    color: ghostwhite;*/
    background-color: transparent;
    color: black;
/*    background-blend-mode: overlay;*/
    border: 1px black solid;
    transition: all .5s;
}

.btn-outline-second:hover {
    color: black;
    background-color: aliceblue;
}



html,
body {
    height: 100%;
}

.view {
    text-align: center;
    height: 100%;
    background: url("../img/header_PaulJarvis.jpg") center center no-repeat;
    color: white;
    /*    full cover on the view area*/
    background-size: cover;
}

/*it only selects the h1 in the view area*/

/*box model to set up spaces around elements*/

.view h1 {
    padding-top: 200px;
}

/*select class name starts with .*/
.me {
    margin-top: 160px;
}

/*assign class name to div wrapper HTML, then define the class style in the stylesheet; then use bg color property*/
.blue {
    background-color: #badee0;
    height: 100%;
    padding-bottom: 100px;

}


.portfolio{
    padding-top: 10px;
    padding-bottom: 50px;
}

.teal {
/*    lol not teal anymore*/
    background-color: aliceblue;
    height: 100%
}

/* card around picture
.card {
    background: yellow;
    padding-top: 20px;
}
*/


/*Portfolio thumbnails*/
.portfolio-link img:hover {
    opacity: 0.9;
/*    can uncomment this out */
    /* 
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%);
*/
}

/*portfolio modal*/
.portfolio-modal .modal-body {
    position: static;
}

/*modal box size*/
.portfolio-modal .modal-dialog {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    margin: 0;
/*        enable the overflow to set the screen no scrolling*/
    overflow: hidden;
}

/*content*/
.portfolio-modal .modal-content {
    /*the paragraph font color*/
    color: #2f2c2c;
    padding: 0 0 2em 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: left;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    /*the background-color*/
    background-color: rgba(252, 249, 249, 1);
}

/*project title*/
.portfolio-modal .modal-content h2 {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 2em;
}

/*to overwrite the color of "a" class text in modal boxes*/
.portfolio-modal .modal-content a {
    color: lightblue;
}

/*to add space to the pics in the modals (kgrid) */
.portfolio-modal .modal-content img {
    margin-top: 100px;
}

/*clent, date and service*/
.portfolio-modal .modal-content .item-details {
    margin: 2em 0;
}


/*bottom of the modal box including prev, next, back to work*/
.portfolio-modal .bottom {
/*    top right bottom left*/
    padding: 0 3em 2em 3em;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

/*the X close icon*/
.portfolio-modal .modal-header .close {
    font-size: 2em;
/*    top right bottom left*/
    padding: 0 1em 0 0;
    font-weight: 200;
}

.portfolio-modal .modal-header {
    border-bottom: none;
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}



/*contact*/
footer {
/*    margin-top: 3em;*/
    padding: 3em;
    background-color: #687f82;
    text-align: center;
    color: aliceblue;

}


footer .social {
    font-size: .8em;
    color: aliceblue;
}


footer .info {
    margin-top: 2em;
    margin-bottom: 3em;
}


#portfolio,
#about,
#contact {
    padding: 5em 0;
}
